@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .leaflet-control-attribution {
    display: none !important;
  }
  .leaflet-control-zoom {
   display: none !important;
  }
  